@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;

    font-family: var(--mainFont);
}

:root {
    /* Colors */
    --primary: #171717;
    --secondary: #ededed;
    --tertiary: #ababab;
    --testimonialBoxOne: #2c2c2c;

    /* Measures */
    --mainMeasure: 1em;
    --secMainMeasure: 3em;
    --secMeasure: 2em;
    --rdMeasure: 0.5em;
    --thMeasure: 0.2em;
    --diffMeasure: 0.01em;
    --fontSizeTitle: 1.3em;
    --fontSizeParagraph: 1.1em;

    /* Fonts */
    --mainFont: "Roboto", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* FIRST TESTIMONIAL */
main {
    width: 50%;
}

.container-grid-testim-1-2 {
    display: flex;
}

.container-testimonial-card-1 {
    margin-right: 1em;
    padding: 1em;
}

.container-testimonial-card-1 .container-testimonial-box {
    background-color: var(--testimonialBoxOne);
    border-radius: 1em;
}

.container-testimonial-box .container-text {
    color: var(--secondary);
    padding: var(--mainMeasure);
}

.container-text .praise {
    margin-top: 1.3em;
}

.container-testimonial-card-1 .ballon-part {
    width: 1.2em;
    height: 1.5em;
    background-color: var(--testimonialBoxOne);
    position: absolute;
    left: 26.3em;
    border-radius: 100%;
    top: 22.2em;
}

.container-testimonial-card-1 .container-person {
    display: flex;
    align-items: center;
    margin-top: var(--mainMeasure);
}

.container-person .profile-pic {
    width: 4em;
    aspect-ratio: 1 /1;
    object-fit: cover;
    border-radius: 100%;
}

.container-person .container-info {
    margin-left: .7em;
}

.container-info .name {
    font-weight: 700;
    font-size: 1.3em;
}

.container-info .profession {
    font-weight: 300;
}

.container-testimonial-card-2 {
    border: 3px solid red;
}

/* TESTIMNONIAL CARD 2 */